.heroes {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;
}

.heroes li {
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  cursor: pointer;
  height: 1.6em;
  margin: 0.5em;
  padding: 0.3em 0;
  position: relative;
}

.heroes li:hover {
  background-color: rgb(221, 221, 221);
  color: rgb(96, 125, 139);
  left: 0.1em;
}

.heroes a {
  color: #333;
  display: block;
  position: relative;
  text-decoration: none;
  width: 250px;
}

.heroes a:hover {
  color:rgb(96, 125, 139);
}

.heroes .badge {
  background-color:rgb(64, 80, 97);
  border-radius: 4px 0 0 4px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: small;
  height: 1.8em;
  left: -1px;
  line-height: 1em;
  margin-right: 0.8em;
  min-width: 16px;
  padding: 0.8em 0.7em 0 0.7em;
  position: relative;
  text-align: right;
  top: -4px;
}

button {
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
  padding: 5px 10px;
}

button:hover {
  background-color: rgb(207, 216, 220);
}

button.delete {
  background-color: rgb(128, 128, 128) !important;
  color: rgb(255, 255, 255);
  left: 194px;
  top: -32px;
  position: relative;
}